# Other #
############
site
.idea/
.build

# Kubernetes #
############
kubeconfig*
source/kubeconfig/

# Git #
############
.gitallowed

# IDE #
############
.vscode

# MacOSX #
############
.DS_Store

# Terraform #
############
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
local_tf_state/

# Packages #
############
*.zip